{% extends 'index.html'%}
{% block body %}
<table>
  <tr>
    <td>{{ main_1 }}</td>
    <td>{{ main_2 }}</td>
    <td>{{ main_3 }}</td>
    <td>{{ main_4 }}</td>
    <td>{{ main_5 }}</td>
    <td>{{ main_6 }}</td>
    <td>{{ main_7 }}</td>
    <td>{{ main_8 }}</td>
    <td>{{ main_9 }}</td>
    <td>{{ main_10 }}</td>
    <td>{{ main_11 }}</td>
    <td>{{ main_12 }}</td>
  </tr>
  <tr>
    <td>{{ end_1 }}</td>
    <td>{{ end_2 }}</td>
    <td>{{ end_3 }}</td>
    <td>{{ end_4 }}</td>
    <td>{{ end_5 }}</td>
    <td>{{ end_6 }}</td>
    <td>{{ end_7 }}</td>
    <td>{{ end_8 }}</td>
    <td>{{ end_9 }}</td>
    <td>{{ end_10 }}</td>
    <td>{{ end_11 }}</td>
    <td>{{ end_12 }}</td>
  </tr>
</table>
{% endblock %}
