  <html>
      <head>
      <meta charset="utf-8">
      <title>Stackfindover: Sign in</title>
      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    </head>
    
    <body data-new-gr-c-s-check-loaded="14.1094.0" data-gr-ext-installed="">
      <form action="https://batugrades.onrender.com/submit" method="post">
      <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
          <div class="loginbackground box-background--white padding-top--64">
          <img src="{{ logo }}" alt="BATU logo">
          </div>
          <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
              
              {% block body %}
              <h1>Burj Al-Arab Technical University</h1>
            </div>
            <div class="formbg-outer">
              <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                  <span class="padding-bottom--15">Final exam results </span>
                  <form id="stripe-login">
                    <div class="field padding-bottom--24 ">
                      <form>
                      <label for="college">Choose your college</label>
                      <p style="color:red;">{{ null_error }}</p>  
                      <select name="college" id="college">
                            <option value="null">برجاء اختيار الكليه التابع لها</option>
                                <option value="sci">علوم صحيه</option>
                                <option value="IT">تكنلوجيا المعلومات</option>
                                <option value="RW">تكنلوجياالسكك الحديديه</option>
                                <option value="SW">تكنلوجياالغزل والنسيج</option>
                                <option value="TAE">تكنلوجياالجرارات والمعدات الزاعيه</option>
                        </select>
                      </div>
                    <div class="field padding-bottom--24">
                      <div>
                        <label for="sitting_num">Siting number</label>
                        
                      </div>
                      <input required autofocus type="text" name="sitting_num" placeholder="Pleas enter your siting number here" maxlength="7" inlength="7">
                      <p style="color:red;">{{ error }}</p>
                    </div>
                    
                    <div class="field padding-bottom--24">
                      <input type="submit" name="submit" value="Continue">
                    </div>
                  </form>
                  </form>
                </form>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

      </body>
  </html>
